@import "theme-editor.css";
@import url('./main-layout.css');
@import url('./widgets.css');
@import url('/card.css');

vaadin-context-menu-item[focused] {
    box-shadow: none;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("ttf");
}

html {
    --lumo-font-family: "Roboto", sans-serif;
}

.v-dragged {
    outline: 5px dotted hotpink;
    opacity: 1;
}

.v-drag-over-target {
    outline: 6px dotted blue;
}

.highlight {
    outline: 6px dotted greenyellow;
}

.login-form {
    width: 90%;
}

.register-form {
    padding: 24px;
}
.register-title {
    margin-top: 12px;
}
.register-button {
    margin-top: 24px;
    margin-bottom: 8px;
}
