@import "theme-editor.css";
@import url('./widgets.css');
@import url('/card.css');
@import url('/login.css');
@import url('/register.css');
@import url('/synoptic.css');

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("ttf");
}

html {
    --lumo-font-family: "Roboto", sans-serif;
}

vaadin-context-menu-item[focused] {
    box-shadow: none;
}