@import "theme-editor.css";
@import url('./widgets.css');
@import url('/card.css');
@import url('/login.css');
@import url('/register.css');
@import url('/synoptic.css');
@import url('/dialog.css');
@import "gauge.css";

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("ttf");
}

html {
    --lumo-font-family: "Roboto", sans-serif;
    --lumo-primary-color: #3c9eb9;  /*#e6ab48;*/
    --lumo-primary-text-color: #3c9eb9; /*#e6ab48;*/
    --lumo-border-radius-m: 1em;
}

vaadin-context-menu-item[focused] {
    box-shadow: none;
}