.v-dragged {
    outline: 5px solid #3c9eb9;
    opacity: 1;
}

.v-drag-over-target {
    outline: 5px solid #3c9eb9;
    opacity: 1;
}

.highlight {
    outline: 6px dotted greenyellow;
}

vaadin-accordion-panel {
    background-color: #efefef;
}

.space {
    outline: 1px solid black;
}

.gauge-container {
    outline: 10px black;
}